{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" crossorigin="anonymous" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <a class="navbar-brand" href="#">Az Acılı</a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2"></div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1>Nedir?</h1>
                    <p>Az Acılı, şimdilik sadece ders seçimini takvim üstünde planlamanı sağlayacak bir araç. Daha fazlası olması için çalışıyoruz.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <center>
                        <a href="{% url "social:begin" "facebook" %}" style="display:block; width:250px;" class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook ile giriş yap</a>
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>

